.accordionHeader {
  cursor: pointer;
  padding: 10px;
}

.accordionContent {
  width: fit-content;
  padding: 10px;
  background-color: rgba(248, 248, 248, 0.8); /* 赤色で透明度0.5 */
  border: 1px solid #e0e0e0;
  white-space: nowrap; /* テキストを折り返さずに1行で表示する */
  position: fixed;
  border-radius: 20px;
}

.accordionContent a {
  margin: 20px;
  text-align: left;
  color: rgb(104, 108, 108);
}
