.wrapper {
  padding: var(--space-xl) 0;
  background-image: linear-gradient(#cee9f1, #68d8f1); /*線型グラデーション */
}

.flexContainer {
  composes: sideBySideCenter from "src/styles/utils.module.css";
  gap: 2em;
}

.info {
  text-align: center;
}
