.wrapper {
  padding: var(--space-xl) 0;
  background-image: linear-gradient(#f1ceed, #fbcff7); /*線型グラデーション */
  padding: 40px; /* ヘッダーの余白を指定する(上下左右) */
}

.flexContainer {
  composes: sideBySideCenter from "src/styles/utils.module.css";
  gap: 2em;
}

.info {
  text-align: center;
}
