.maintitle {
  text-align: center;
}

.areaMethod {
  margin: 10px;
}

.ttl_center {
  text-align: center;
  margin: 50px;
}

.whattodo {
  display: flex;
  flex-direction: column;
}

.areaFeature {
  text-align: center;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 260px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(#f1f9f9, #d5edf9); /*線型グラデーション */
  border-radius: 40px;
}

.button::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #2b550e;
  border-right: 2px solid #2b550e;
  transform: rotate(45deg);
}

.areaCurrent {
  composes: sideBySideCenter from "src/styles/utils.module.css";
  gap: 10px;
  display: flex;
}

.ttl_center {
  text-align: center;
  margin: 50px;
}

.floor {
  text-align: center;
  margin: 10px;
}

.accessMap {
  text-align: center;
  margin: 100px;
}
