.basic {
  font-size: var(--heading2);
  font-weight: 700;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.box {
  composes: basic;
  display: inline-block;
  padding: 10px;
  background-image: linear-gradient(#f0b3ca, #f5b0d3); /*線型グラデーション */
  border-radius: 20px;
  color: var(--white);
  font-size: var(--small-heading2);
  text-decoration: none;
}

.header {
  display: flex;
  margin-left: 5px;
}
