$cWhite: white;
$cBlack: black;

.areaNav {
  position: fixed;
  padding: 40px;
  right: 40px;
  top: 0;
  height: 100px;
  z-index: 100; /* 必要に応じて適切な値を指定してください */
}

.inquiry {
  display: block;
  padding: 10px;
  width: 180px;
  max-height: 40px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(#d7f7f2, #adf7e1); /*線型グラデーション */
  border-radius: 20px;
}

.homepageLink {
  padding: 10px;
}

.menuBtn {
  text-align: right;
}

.button {
  position: fixed;
  background-color: $cWhite;
  color: $cBlack;
  border: 1px solid $cBlack;
  padding: 10px 40px;
  margin: 50px 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

/* デスクトップ */
@media (min-width: 1350px) {
  .btn {
    display: none;
    justify-content: flex-end;
  }

  .list {
    display: flex;
    gap: 2em;
  }

  .list li {
    display: flex;
    text-align: center;
    font-weight: 700;
  }
}

/* モバイル */
@media (max-width: 1349px) {
  /* ボタン */
  .btn {
    all: unset;
    outline: revert;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    width: 42px;
    height: 42px;
    right: 0px;
    position: relative;
    z-index: 200;
  }

  .close .btn {
    color: var(--gray-75);
  }

  .open .btn {
    color: var(--white);
  }

  /* ボタン内のバー */
  .btn {
    display: grid;
    place-items: center;
  }

  .btn::before,
  .btn::after,
  .btn .bar {
    grid-area: 1 / 1;
    content: "";
    display: block;
    width: 32px;
    height: 1px;
    background-color: currentColor;
    transition: transform 0.4s;
  }

  .close .btn::before {
    transform: translateY(-8px);
  }

  .close .btn::after {
    transform: translateY(8px);
  }

  .open .btn::before {
    transform: rotate(45deg);
  }

  .open .btn::after {
    transform: rotate(-45deg);
  }

  .open .btn .bar {
    transform: scale(0);
  }

  /* メニュー(オーバーレイ) */
  .list {
    position: fixed;
    inset: 0 -100% 0 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    color: var(--white);
    transition: transform 0.4s;
  }

  .open .list {
    transform: translateX(-100%);
  }

  /* メニュー(オーバーレイ内の配置) */
  .list {
    display: grid;
    gap: 40px;
    place-content: center;
    text-align: center;
  }
}

@media (hover: hover) {
  .list a:hover {
    color: var(--accent);
  }
}

@media (hover: none) {
  .list a:hover {
    -webkit-tap-hightlight-color: transparent;
  }

  .list a:active {
    color: var(--accent);
  }
}
